In [29]:
import pandas as pd

In [ ]:
dict1={'Name':['Sudeep', 'Aryan', 'Shivam'], 'Rank':[1, 2, 3], 'PriceMoney':[1000.0, 500.0, 200.0]}
df1=pd.DataFrame(dict1)
dict2={'Name':['Jatin', 'Anshuman'], 'Rank':[4, 5], 'PriceMoney':[100.0, 40.0]}
df2=pd.DataFrame(dict2)
df3=pd.concat([df1, df2], ignore_index=True)
df3

In [ ]:
dict1={'Name':['Sudeep', 'Aryan', 'Shivam', 'Jatin', 'Anshuman'], 'Rank':[1, 2, 3, 4, 5]}
df1=pd.DataFrame(dict1)
dict2={'PriceMoney':[1000.0, 500.0, 200.0, 100.0, 40.0]}
df2=pd.DataFrame(dict2)
df3=pd.concat([df1, df2], axis=1)
df3

In [ ]:
dict1={'Name':['Sudeep', 'Aryan', 'Shivam', 'Jatin', 'Anshuman'], 'Rank':[1, 2, 3, 4, 5]}
df1=pd.DataFrame(dict1)
dict2={'Name':['Sudeep', 'Aryan', 'Shivam', 'Jatin', 'Anshuman'], 'PriceMoney':[1000.0, 500.0, 200.0, 100.0, 40.0]}
df2=pd.DataFrame(dict2)
df3=pd.merge(df1, df2, on='Name')
df3

In [ ]:
df=pd.read_csv('headbrain.csv')
df

In [ ]:
print(df.groupby(['Gender', 'Age Range']).sum(), end='\n\n')
print(df.groupby(['Gender', 'Age Range']).get_group((1, 2)), end='\n\n')
print(df.pivot_table(values='Head Size(cm^3)', index=['Gender'], columns=['Age Range']), end='\n\n')